body {
  background-color: #004400;
  font-family: sans-serif;
  margin: 0;
}

header {

  h1 {
    background-color: #552700;
    border: 2px solid #55AA55;
    color: #55AA55;
    margin: 0;
    padding: 10px 0;
    text-align: center;
  }
}

main {
  display: flex;
  justify-content: space-evenly;
}

.tower {
  align-items: center;
  background-color: #552700;
  border: 2px solid #552700;
  border-top: none;
  color: #55AA55;
  cursor: pointer;
  display: flex;
  flex-flow: column;
  height: 50vh;
  justify-content: flex-end;
  max-width: 250px;
  transition: border-color 0.3s;
  width: 30%;

  &:hover, &.selected {
    border-color: #55AA55;
  }

  > div {
    align-items: center;
    background-color: #804515;
    border: 2px solid #55AA55;
    display: flex;
    height: 8vh;
    justify-content: center;
    margin-bottom: 10px;
  }

  .one {
    width: 30%;
  }

  .two {
    width: 50%;
  }

  .three {
    width: 70%;
  }

  .four {
    width: 90%;
  }
}
